@use "../../assets/sass/utility/mixins.scss" as *;

.pokemonGrid {
  padding-top: 20px;
  &__search{
    position: relative;
    svg{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      height: 15px;
      width: auto;
    }
    input{
      width: 400px;
      max-width: 100%;
      padding: 15px 15px 15px 45px;
      border: white 2px solid;
      border-radius: 2px;
      @include focusHandler{
        border: $teal--light 2px solid;
      };
    }
  }
  &__grid{
    padding: 20px 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2px;
  }
}
