@use "../../../assets/sass/utility/mixins.scss" as *;
@use "../../../assets/sass/utility/variables.scss" as *;


.pokemonCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba($grey, 0.2);
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  @include focusHandler;
  &__img {
    position: relative;
    height: 56px;
    width: 60px;
    text-align: center;
    z-index: 1;
  }
  &__details {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    z-index: 1;
    span {
      display: block;
      font-family: $ff-Mont;
    }
    p {
      margin: 10px 0 0;
      font-family: $ff-Ale;
      text-transform: capitalize;
    }
  }
  &--active {
    transition: $tran_primary;
    background: rgba($yellow, 0.8);
    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      width: 90px;
      height: 90px;
      border: 35px solid transparent;
      border-radius: 50%;
      z-index: 0;
    }
    &:before {
      transform: translateY(calc(-50% - 3px)) rotate(-45deg);
      border-top-color: rgba($white, 0.4);
      border-right-color: rgba($white, 0.4);
    }
    &:after {
      transform: translateY(calc(-50% + 3px)) rotate(135deg);
      border-top-color: rgba($white, 0.4);
      border-right-color: rgba($white, 0.4);
    }
  }
}
